body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h3 {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.option-btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    max-width: 400px;
}

.option-btn input {
    display: none;
}

.option-btn.selected {
    background-color: #4CAF50;
    color: white;
}

.option-btn:hover {
    background-color: #4CAF50;
    color: white;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn:hover {
    background-color: #45a049;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #4CAF50;
}

.back-btn::before {
    content: '←'; 
}

.btn::after {
    content: '→';
    font-size: 16px;
    color: white;
    margin-left: 5px;
}
