@import url('https://fonts.googleapis.com/css2family=Open+Sans&family=Roboto&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#app {
  display: flex;
  width: 100%;
  min-height: 100vh; 
}

.side-bar {
  background: #171716;
  width: 260px;
  padding: 20px;
  box-sizing: border-box;
  position: fixed; 
  top: 0;
  bottom: 0; 
  left: 0;
}

.side-bar ul {
  padding: 0;
  margin: 0;
}

.side-bar ul li {
  list-style: none;
  padding: 20px 20px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #9a9a9a;
  border-bottom: 2px solid #e0e0e024;
  cursor: pointer;
  transition: .1s ease;
  border-radius: 2px;
}

.side-bar ul li:hover {
  color: #fff;
  background: #282828;
  letter-spacing: 1px;
}

.side-bar ul li a {
  text-decoration: none; 
  color: inherit; 
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  width: 100%; 
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  box-sizing: border-box;
  height: 72px;
  background: white;
  border-bottom: 1px solid #e0e0e0;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background: #f2f1ed;
}

h1 {
  margin: 0;
}
